@import-normalize;

/* bring in normalize.css styles */

@font-face {
  font-family: 'Dash';
  src: url(./fonts/Dashdemo-ozJA.ttf);
}

@font-face {
  font-family: 'Crispy Cream';
  src: url(./fonts/CrispyCream-nRwW4.otf);
}
